* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    color: #fff;
    background: #acc2cc;
}

body, input, button, textarea {
    font: 600 18px Nunito, sans-serif;

}
